<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Dinosaurs</title>
</head>
<body>
    <ul>
        <li><a href="/dinosaurs">Home</a></li>
        <li><a href="/dinosaurs/new">Add a Dino</a></li>
    </ul>
    <h1>I LOVE DINOSAURS!!!</h1>
    <%- body %>
</body>
</html>