<form action="/dinosaurs" method="get">
    <label for="nameFilter">Filter By Name</label>
    <input id="nameFilter" type="text" name="nameFilter">
    <input type="submit">
</form>
<ul>
    <% myDinos.forEach((dino, index) => { %>
        <li><%= dino.name %> is a <%= dino.type %>
            <a href="/dinosaurs/edit/<%= index %>">Edit</a>
            <form method="POST" action="/dinosaurs/<%= index %>/?_method=DELETE">
                <input type="submit" value="Delete">
            </form>
        </li>
    <% }) %>
</ul>